# Normalize EOL for all files that Git considers text files.
* text=auto eol=lf

# Ignore some files when exporting to a ZIP.
/.gitattributes           export-ignore
/.gitignore               export-ignore
/icon.png                 export-ignore
/icon.png.import          export-ignore
/ridiculous.png           export-ignore
/ridiculous.png.import    export-ignore
/readme-enable.png        export-ignore
/readme-enable.png.import export-ignore
/readme-font.png          export-ignore
/readme-font.png.import   export-ignore
/readme-example.gif       export-ignore
/README.md                export-ignore
/project.godot            export-ignore
/test_script.gd           export-ignore
